<a href="https://colab.research.google.com/github/junsookim1/Everday_Practice/blob/master/Koyang_Bike_Data(%EC%9B%94_%EB%8B%A8%EC%9C%84_%EA%B5%AC%EB%B6%84_(%EB%8C%80%EC%97%AC%2C%EB%B0%98%EB%82%A9)%EC%8A%A4%ED%85%8C%EC%9D%B4%EC%85%98_%EC%9D%B4%EB%8F%99_%ED%9A%9F%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import geopandas as gpd
import folium
import missingno as msno
from haversine import haversine

In [ ]:
df_1 = pd.read_csv('월별 스테이션 이용 현황.csv')# 불러오기

In [ ]:
df_1

,Unnamed: 0,대여 시간(M),대여 스테이션 번호,반납 시간(M),반납 스테이션 번호,추정 이동 거리,이용 시간(s),회원 번호,비회원 번호
0,0,2017-01,213,2017-01,260,0.0,791.0,164203,0.0
1,1,2017-01,231,2017-01,231,31039.0,2961.0,187551,0.0
2,2,2017-01,119,2017-01,0,NaN,3600.0,168994,0.0
3,3,2017-01,121,2017-01,133,15490.0,829.0,183971,0.0
4,4,2017-01,320,2017-01,259,0.0,912.0,167475,0.0
...,...,...,...,...,...,...,...,...,...
3142683,3142683,2019-12,222,2019-12,219,0.0,377.0,236957,0.0
3142684,3142684,2019-12,343,2019-12,311,0.0,240.0,0,4124665.0
3142685,3142685,2019-12,333,2020-01,322,0.0,657.0,0,4124667.0
3142686,3142686,2019-12,264,2020-01,210,0.0,685.0,180671,0.0
3142687,3142687,2019-12,214,2020-01,222,33169.0,638.0,215409,0.0

In [ ]:
# df.to_csv('스테이션 이용 현환(진행중).csv') # 저장
df = pd.read_csv('스테이션 이용 현환(진행중).csv')# 불러오기

In [ ]:
df # 이용회수를 알기 위해 필요한 데이터만 가져온다.

         Unnamed: 0 대여 시간(M)  대여 스테이션 번호 반납 시간(M)  반납 스테이션 번호
0                 0  2017-01         213  2017-01         260
1                 1  2017-01         231  2017-01         231
2                 2  2017-01         119  2017-01           0
3                 3  2017-01         121  2017-01         133
4                 4  2017-01         320  2017-01         259
...             ...      ...         ...      ...         ...
3142683     3142683  2019-12         222  2019-12         219
3142684     3142684  2019-12         343  2019-12         311
3142685     3142685  2019-12         333  2020-01         322
3142686     3142686  2019-12         264  2020-01         210
3142687     3142687  2019-12         214  2020-01         222

[3142688 rows x 5 columns]

In [ ]:
df['대여 스테이션 번호']=df_1[['대여 스테이션 번호']].astype('str')

In [ ]:
df['대여 스테이션 번호'].apply(lambda x: x.count('213')).sum() # 총 이용회수를 구할 수 있다.

29771

In [ ]:
((df['대여 스테이션 번호']=='110')&(df['대여 시간(M)']=='2017-01')).sum() # 월별 이용 회수 구하기

numpy.int64

In [ ]:
df_station_num = df['대여 스테이션 번호'].unique().tolist()
df_station_num.sort() 
len(df_station_num)
dfdf_station_num = pd.DataFrame(df_station_num, columns=['이용 횟수(전체)'])
dfdf_station_num

    이용 횟수(전체)
0         101
1         103
2         104
3         105
4         106
..        ...
151       349
152       350
153       351
154       992
155       998

[156 rows x 1 columns]

In [ ]:
df_month_hour = df['대여 시간(M)'].unique().tolist()
df_month_hour

['2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [ ]:
Bike_Station_month_usage_status = [] # 월별 대여 스테이션 이용 현황
for i in df_month_hour:
    for j in df_station_num:
        Bike_Station_month_usage_status.append(((df['대여 시간(M)']==i)&(df['대여 스테이션 번호']==j)).sum())
# 2017년도 2018년도 이런식으로 이용 현황으로 dataframe 만들어 줄 것

In [ ]:
len(Bike_Station_month_usage_status)

5616

In [ ]:
df['대여 스테이션 번호'].apply(lambda x: x.count('101')).sum()

numpy.int64

In [ ]:
# 총 대여 스테이션 이용 현황
total_Station_status = []
for i in df_station_num:
    total_Station_status.append(df['대여 스테이션 번호'].apply(lambda x: x.count(i)).sum())

KeyboardInterrupt:

In [ ]:
len(total_Station_status)

156

In [ ]:
df_all = pd.read_csv('월별 스테이션 이용 현황(빈 리스트).csv')# 불러오기

In [ ]:
df_all

     대여 시간(M)  대여 스테이션 번호
0     2017-01         101
1     2017-01         103
2     2017-01         104
3     2017-01         105
4     2017-01         106
...       ...         ...
5611  2019-12         349
5612  2019-12         350
5613  2019-12         351
5614  2019-12         992
5615  2019-12         998

[5616 rows x 2 columns]

In [ ]:
Bike_Station_month_usage_status

[80,
 33,
 152,
 27,
 62,
 112,
 69,
 97,
 144,
 134,
 87,
 133,
 192,
 151,
 148,
 43,
 114,
 92,
 41,
 151,
 95,
 90,
 95,
 156,
 29,
 79,
 131,
 28,
 66,
 56,
 74,
 95,
 138,
 50,
 85,
 119,
 119,
 81,
 43,
 53,
 70,
 68,
 32,
 76,
 29,
 41,
 45,
 20,
 0,
 0,
 0,
 225,
 158,
 540,
 176,
 158,
 185,
 376,
 756,
 751,
 466,
 363,
 650,
 893,
 34,
 605,
 410,
 230,
 242,
 372,
 428,
 77,
 142,
 421,
 511,
 446,
 380,
 698,
 410,
 487,
 416,
 261,
 446,
 355,
 188,
 127,
 167,
 47,
 95,
 492,
 466,
 254,
 133,
 291,
 193,
 162,
 386,
 697,
 615,
 81,
 299,
 151,
 143,
 569,
 410,
 0,
 0,
 0,
 0,
 0,
 175,
 346,
 290,
 83,
 514,
 504,
 483,
 387,
 1104,
 733,
 578,
 402,
 409,
 314,
 297,
 456,
 590,
 364,
 215,
 275,
 638,
 178,
 365,
 114,
 364,
 156,
 203,
 59,
 284,
 373,
 95,
 190,
 169,
 184,
 84,
 597,
 515,
 170,
 62,
 49,
 40,
 96,
 66,
 0,
 8,
 0,
 74,
 59,
 180,
 19,
 67,
 144,
 92,
 102,
 107,
 72,
 73,
 142,
 163,
 133,
 148,
 75,
 121,
 97,
 29,
 110,
 64,
 49,
 90,
 123,
 26,
 55,
 68,
 23,
 68,
 74,
 70,
 70,
 151,
 68,
 104,
 170,
 165,
 101,
 46,
 77,
 73,
 44,
 28,
 71,
 26,
 43,
 20,
 3,
 0,
 0,
 0,
 206,
 156,
 439,
 183,
 166,
 125,
 386,
 696,
 711,
 452,
 290,
 553,
 694,
 25,
 601,
 367,
 220,
 253,
 290,
 368,
 99,
 167,
 374,
 359,
 425,
 427,
 736,
 379,
 527,
 402,
 248,
 370,
 320,
 123,
 129,
 188,
 43,
 151,
 591,
 505,
 249,
 147,
 315,
 256,
 152,
 541,
 903,
 909,
 65,
 318,
 159,
 49,
 679,
 382,
 0,
 0,
 0,
 0,
 0,
 155,
 323,
 249,
 123,
 455,
 499,
 455,
 344,
 1033,
 629,
 570,
 342,
 413,
 259,
 260,
 409,
 516,
 377,
 232,
 197,
 692,
 192,
 337,
 133,
 354,
 144,
 156,
 85,
 229,
 355,
 80,
 177,
 124,
 147,
 114,
 474,
 483,
 152,
 94,
 60,
 33,
 96,
 64,
 0,
 4,
 0,
 201,
 112,
 292,
 54,
 119,
 320,
 179,
 209,
 251,
 164,
 225,
 263,
 416,
 285,
 301,
 109,
 223,
 245,
 102,
 232,
 138,
 165,
 196,
 201,
 110,
 139,
 189,
 41,
 144,
 163,
 95,
 97,
 294,
 80,
 116,
 241,
 244,
 186,
 84,
 175,
 111,
 119,
 82,
 130,
 71,
 81,
 50,
 28,
 0,
 0,
 0,
 366,
 315,
 874,
 369,
 311,
 322,
 1164,
 1269,
 1490,
 868,
 725,
 1094,
 1374,
 74,
 870,
 756,
 419,
 517,
 563,
 681,
 240,
 292,
 599,
 850,
 751,
 742,
 1203,
 649,
 1027,
 823,
 532,
 846,
 658,
 306,
 288,
 289,
 143,
 312,
 962,
 733,
 445,
 361,
 436,
 473,
 242,
 1327,
 2227,
 2262,
 114,
 455,
 339,
 0,
 1290,
 749,
 0,
 0,
 0,
 0,
 0,
 228,
 687,
 571,
 312,
 921,
 959,
 761,
 675,
 1824,
 1412,
 995,
 722,
 736,
 593,
 545,
 778,
 941,
 631,
 455,
 424,
 1383,
 397,
 546,
 294,
 496,
 212,
 246,
 169,
 455,
 591,
 178,
 276,
 398,
 261,
 210,
 1069,
 925,
 435,
 127,
 130,
 81,
 187,
 118,
 0,
 13,
 0,
 306,
 178,
 442,
 117,
 154,
 467,
 361,
 242,
 523,
 449,
 382,
 410,
 690,
 511,
 353,
 204,
 362,
 377,
 265,
 342,
 191,
 285,
 278,
 286,
 154,
 257,
 259,
 80,
 230,
 243,
 184,
 173,
 461,
 176,
 197,
 331,
 206,
 254,
 168,
 311,
 297,
 329,
 149,
 171,
 145,
 137,
 85,
 62,
 0,
 0,
 0,
 674,
 542,
 1498,
 626,
 540,
 566,
 2262,
 2185,
 2480,
 1611,
 972,
 1719,
 2226,
 160,
 1316,
 990,
 707,
 768,
 962,
 980,
 297,
 414,
 977,
 1143,
 1023,
 1001,
 1576,
 774,
 1371,
 1270,
 733,
 1203,
 863,
 452,
 416,
 431,
 262,
 462,
 1329,
 1020,
 485,
 616,
 690,
 692,
 374,
 2934,
 4362,
 4385,
 214,
 421,
 603,
 0,
 2671,
 1317,
 0,
 0,
 0,
 0,
 0,
 337,
 1129,
 965,
 574,
 1415,
 1570,
 1136,
 882,
 2568,
 2366,
 1310,
 959,
 984,
 888,
 822,
 1302,
 1398,
 1030,
 645,
 768,
 1895,
 597,
 682,
 358,
 592,
 372,
 400,
 245,
 766,
 938,
 274,
 375,
 624,
 430,
 333,
 1709,
 1306,
 998,
 223,
 223,
 216,
 254,
 172,
 0,
 17,
 0,
 437,
 236,
 636,
 137,
 165,
 534,
 398,
 208,
 635,
 680,
 532,
 589,
 808,
 752,
 555,
 312,
 370,
 456,
 355,
 460,
 292,
 373,
 435,
 327,
 206,
 387,
 406,
 106,
 226,
 273,
 189,
 313,
 580,
 203,
 288,
 355,
 302,
 368,
 253,
 429,
 436,
 430,
 159,
 180,
 131,
 140,
 117,
 71,
 0,
 0,
 0,
 995,
 771,
 2156,
 1011,
 798,
 780,
 2395,
 3200,
 3156,
 2058,
 1275,
 2256,
 2993,
 192,
 1620,
 1257,
 894,
 984,
 1288,
 1371,
 454,
 498,
 1378,
 1482,
 1475,
 1339,
 2031,
 935,
 1672,
 1920,
 1084,
 1662,
 1247,
 670,
 560,
 529,
 346,
 610,
 1691,
 1317,
 532,
 883,
 776,
 823,
 472,
 3647,
 4554,
 2504,
 247,
 487,
 837,
 0,
 3980,
 1863,
 0,
 0,
 0,
 0,
 0,
 417,
 1411,
 1313,
 632,
 1818,
 2136,
 1519,
 1333,
 3356,
 3216,
 1774,
 1269,
 1264,
 1166,
 1104,
 1552,
 1764,
 1357,
 865,
 1094,
 2433,
 763,
 826,
 489,
 803,
 522,
 551,
 308,
 1079,
 1120,
 374,
 504,
 794,
 653,
 451,
 2231,
 1710,
 1137,
 292,
 229,
 195,
 302,
 210,
 0,
 21,
 0,
 435,
 238,
 803,
 123,
 219,
 641,
 399,
 483,
 599,
 725,
 512,
 626,
 880,
 787,
 574,
 330,
 452,
 570,
 402,
 479,
 331,
 460,
 494,
 394,
 262,
 394,
 404,
 95,
 256,
 322,
 226,
 458,
 606,
 172,
 389,
 332,
 268,
 422,
 272,
 377,
 377,
 459,
 181,
 162,
 154,
 131,
 146,
 131,
 0,
 0,
 0,
 1094,
 848,
 2120,
 1007,
 1064,
 764,
 2358,
 3342,
 2947,
 2137,
 1414,
 2340,
 3456,
 218,
 1802,
 1316,
 1017,
 958,
 1513,
 1535,
 498,
 514,
 1544,
 1635,
 1760,
 1445,
 2016,
 1055,
 1805,
 1885,
 1120,
 1969,
 1463,
 768,
 727,
 620,
 455,
 651,
 1816,
 1457,
 572,
 836,
 832,
 844,
 561,
 2445,
 3953,
 4318,
 265,
 599,
 1008,
 0,
 3576,
 1975,
 0,
 0,
 0,
 0,
 0,
 433,
 1429,
 1293,
 535,
 1943,
 2149,
 1629,
 1478,
 3251,
 3261,
 1861,
 1265,
 1339,
 1302,
 1291,
 1627,
 1876,
 1411,
 909,
 1131,
 2417,
 901,
 842,
 448,
 898,
 534,
 615,
 374,
 1090,
 1203,
 358,
 575,
 770,
 584,
 506,
 2480,
 1738,
 1129,
 302,
 222,
 184,
 355,
 200,
 0,
 12,
 0,
 229,
 123,
 545,
 81,
 135,
 472,
 290,
 365,
 441,
 550,
 365,
 398,
 740,
 493,
 481,
 250,
 354,
 506,
 258,
 386,
 199,
 308,
 361,
 203,
 130,
 295,
 296,
 41,
 207,
 260,
 177,
 278,
 424,
 110,
 254,
 253,
 206,
 408,
 189,
 322,
 344,
 245,
 122,
 96,
 129,
 176,
 111,
 160,
 0,
 0,
 0,
 853,
 638,
 1620,
 860,
 763,
 575,
 1604,
 2671,
 2000,
 1721,
 1217,
 1951,
 2840,
 ...]

In [ ]:
df_Bike_Station_month_usage_status = pd.DataFrame(Bike_Station_month_usage_status, columns=['이용 횟수(월)'])
df_Bike_Station_month_usage_status

      이용 횟수(월)
0           80
1           33
2          152
3           27
4           62
...        ...
5611       133
5612        54
5613       157
5614        19
5615         2

[5616 rows x 1 columns]

In [ ]:
df_total_Station_status = pd.DataFrame(total_Station_status, columns=['이용 횟수(전체)'])
df_total_Station_status

     이용 횟수(전체)
0         8366
1         4535
2        13402
3         2806
4         4444
..         ...
151       7532
152       4190
153        473
154        952
155         25

[156 rows x 1 columns]

In [ ]:
df_month_total_Station_status = pd.concat([df_all, df_Bike_Station_month_usage_status],axis=1)
df_month_total_Station_status # 월별 대여 이용 횟수

NameError: name 'df_all' is not defined

In [ ]:
df_all_total_Station_status = pd.concat([dfdf_station_num, df_total_Station_status],axis=1)
df_all_total_Station_status # 총 대여 이용 횟수

     이용 횟수(전체)  이용 횟수(전체)
0          101       8366
1          103       4535
2          104      13402
3          105       2806
4          106       4444
..         ...        ...
151        349       7532
152        350       4190
153        351        473
154        992        952
155        998         25

[156 rows x 2 columns]

In [ ]:
df_month_total_Station_status.to_csv('월별 대여 스테이션 이용 현황(완성).csv') # 저장
df_all_total_Station_status.to_csv('총 대여 스테이션 이용 현황(완성).csv')

## 반납 스테이션 현황

In [ ]:
df_all_re = pd.read_csv('월별 반납 스테이션 이용 현황(빈 리스트).csv')

In [ ]:
df_all_re

      Unnamed: 0 반납 시간(M)  반납 스테이션 번호
0              0  2017-01           0
1              1  2017-01         101
2              2  2017-01         103
3              3  2017-01         104
4              4  2017-01         105
...          ...      ...         ...
5683         153  2019-12         350
5684         154  2019-12         351
5685         155  2019-12         992
5686         156  2019-12         998
5687         157  2019-12         999

[5688 rows x 3 columns]

In [ ]:
return_month_hour = df['대여 시간(M)'].unique().tolist()
len(return_month_hour)

36

In [ ]:
re_station_num = df['반납 스테이션 번호'].unique().tolist()
re_station_num.sort() 
re_station_num

['0',
 '101',
 '103',
 '104',
 '105',
 '106',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '118',
 '119',
 '121',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '133',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '146',
 '148',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '176',
 '177',
 '178',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 '321',
 '322',
 '323',
 '324',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '333',
 '334',
 '339',
 '340',
 '341',
 '342',
 '343',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '992',
 '998',
 '999']

In [ ]:
Bike_return_Station_month_usage_status = [] # 월별 반납 스테이션 이용 현황
for i in return_month_hour:
    for j in re_station_num:
        Bike_return_Station_month_usage_status.append(((df['대여 시간(M)']==i)&(df['반납 스테이션 번호']==j)).sum())
# 2017년도 2018년도 이런식으로 이용 현황으로 dataframe 만들어 줄 것

In [ ]:
len(Bike_return_Station_month_usage_status)

5688

In [ ]:
df['반납 스테이션 번호']=df[['반납 스테이션 번호']].astype('str')

In [ ]:
df['반납 스테이션 번호'].apply(lambda x: x.count('213')).sum() # 총 이용회수를 구할 수 있다.

25978

In [ ]:
((df['반납 스테이션 번호']=='110')&(df['대여 시간(M)']=='2017-01')).sum() # 월별 이용 회수 구하기

123

In [ ]:
# 총 대여 스테이션 이용 현황
total_re_Station_status = []
for i in re_station_num:
    total_re_Station_status.append(df['반납 스테이션 번호'].apply(lambda x: x.count(i)).sum())

In [ ]:
# 데이터 프레임 만들기
df_Bike_return_Station_month_usage_status = pd.DataFrame(Bike_return_Station_month_usage_status, columns=['이용 횟수(월)'])
df_total_re_Station_status = pd.DataFrame(total_re_Station_status, columns=['총 이용 횟수(월)'])

In [ ]:
df_Bike_return_Station_month_usage_status

      이용 횟수(월)
0         3826
1          109
2           44
3           89
4           17
...        ...
5683        37
5684       149
5685        19
5686         1
5687         0

[5688 rows x 1 columns]

In [ ]:
return_station_num = df['반납 스테이션 번호'].unique().tolist()
return_station_num.sort() 
len(return_station_num)
df_re_station_num = pd.DataFrame(return_station_num, columns=['이용 횟수(전체)'])
df_re_station_num

    이용 횟수(전체)
0           0
1         101
2         103
3         104
4         105
..        ...
153       350
154       351
155       992
156       998
157       999

[158 rows x 1 columns]

In [ ]:
df_total_re_Station_status

     총 이용 횟수(월)
0       1174956
1          9207
2          5121
3          9330
4          2696
..          ...
153        3662
154         406
155         795
156          21
157          10

[158 rows x 1 columns]

In [ ]:
df_month_return_total_Station_status = pd.concat([df_all_re, df_Bike_return_Station_month_usage_status],axis=1)
df_month_return_total_Station_status[:159] # 월별 반납 스테이션 이용 횟수

     Unnamed: 0 반납 시간(M)  반납 스테이션 번호  이용 횟수(월)
0             0  2017-01           0      3826
1             1  2017-01         101       109
2             2  2017-01         103        44
3             3  2017-01         104        89
4             4  2017-01         105        17
..          ...      ...         ...       ...
154         154  2017-01         351         0
155         155  2017-01         992         8
156         156  2017-01         998         0
157         157  2017-01         999         0
158           0  2017-02           0      3428

[159 rows x 4 columns]

In [ ]:
df_all_rental_total_Station_status = pd.concat([df_re_station_num, df_total_re_Station_status],axis=1)
df_all_rental_total_Station_status # 총 반납 스테이션 이용 횟수

    이용 횟수(전체)  총 이용 횟수(월)
0           0     1174956
1         101        9207
2         103        5121
3         104        9330
4         105        2696
..        ...         ...
153       350        3662
154       351         406
155       992         795
156       998          21
157       999          10

[158 rows x 2 columns]

In [ ]:
df_month_return_total_Station_status.to_csv('월별 반납 스테이션 이용 현황(완성).csv') # 저장
df_all_rental_total_Station_status.to_csv('총 반납 스테이션 이용 현황(완성).csv')